<%= simple_form_for [:admin, @rate], defaults: { input_html: { class: 'mb-3' } }, wrapper: :horizontal_form,  wrapper_mappings:{ file: :horizontal_file } do |form| %>
  <div class="card mt-4">
    <div class="card-body">
      <%= form.association :currency,  label_method: :country, value_method: :id, include_blank: false, prompt: "< Choose country >" %>
      <%= form.input :rate, label: "rate" %>
      <%= form.button :submit, class: "btn btn-primary btn-lg float-end" %>
    </div>
</div>
<% end %>
