<h1>Currency</h1>

<table class="table">
  <thead>
  <tr>
    <th>entity</th>
    <th>currency</th>
    <th>alphabetic_code</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @currency.each do |currency| %>
    <tr>
      <td><%= currency.entity %></td>
      <td><%= currency.currency %></td>
      <td><%= currency.alphabetic_code %></td>
    </tr>
  <% end %>
  </tbody>
</table>
