<!-- About Intro Area start-->
<div class="about-intro-area">
  <div class="container position-relative h-100 d-flex align-items-center">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="about-intro-content">
          <h2 class="title">О нас</h2>
          <p><i>"Вероника"</i> — интернет-магазин стильной одежды.
            Мы предлагаем интересную молодежную одежду с ярким современным дизайном, выполненную по последним тенденциям моды.
            Мы внимательно и с удовольствием следим за модными тенденциями и стараемся найти для вас
            «золотую середину», по соотношению цена-качество.
          </p>
        </div>
      </div>
    </div>

    <div class="intro-right">
      <%= image_tag 'about-image/cardigan-converse-crop-top-fashion-Favim.com-3879636.png' %>
    </div>
  </div>
</div>

<!-- About Intro Area End-->

<!-- Service Area Start -->

<div class="service-area">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex">
        <div class="service-left align-self-center align-items-center">
          <%=image_tag 'about-image/аа.jpg' %>
        </div>
      </div>
      <div class="col-md-6 d-flex justify-content-center">
        <div class="service-right-content align-self-center align-items-center">
          <h2 class="title">Каждый День Лучшие Товары</h2>
          <p>Большой выбор товаров.
            В интернет-магазине представлены вещи, которые вы будете носить с удовольствием.
            Изделия этого бренда дарят красоту, тепло и уют.
            Изделия изготовлены из натурального хлопка.</p>
          <a href="<%=home_index_path %>" class="btn btn-primary service-btn">Каталог <i
            class="fa fa-shopping-basket ml-10px" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Service Area End -->