<p><h1>Current rates of foreign currencies against the ruble</h1></p>
<% rates = currency_rates %>
<% currency_rate_last_update = rates["time_last_update_utc"] %>
<figcaption class="blockquote-footer">
  <%= "Last update: #{currency_rate_last_update.to_s}" %>
</figcaption>
<br>
<table class="table">
  <thead>
  <tr>
    <th>Letter code</th>
    <th>Rate</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% rates['conversion_rates'].each_pair do |code, rate|  %>
    <tr>
      <td><%= code %></td>
      <td class="text-end"><%= "#{ '%.4f' % rate }" %></td>
    </tr>
  <% end %>
  </tbody>
</table>
