<p><h1>Current rates of foreign currencies against the ruble</h1></p>

<table class="table">
  <thead>
  <tr>
    <th>Currency code</th>
    <th>Rate</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% currency_rate.each_pair do |key, value|  %>
    <tr>
      <td><%= key %></td>
      <td><%= "#{'%.4f' % value}" %></td>
    </tr>
  <% end %>
  </tbody>
</table>
