<p><h1>Exchange rates of foreign currencies against the ruble</h1></p>

<table class="table">
  <thead>
  <tr>
    <th>entity</th>
    <th>currency</th>
    <th>alphabetic_code</th>
    <th>rate</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @currencies_rate = Currency.joins(:rates).select(:entity, :currency, :alphabetic_code, :rate) %>
  <% @currencies_rate.each do |currencies_rate| %>
    <tr>
      <td><%= currencies_rate.entity %></td>
      <td><%= currencies_rate.currency %></td>
      <td><%= currencies_rate.alphabetic_code %></td>
      <td><%= currency_rate(currencies_rate.alphabetic_code) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

